@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

/* root div */
#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* SVG chart class */
.D3Object {
    display: block;
    max-width: 100vw;
    max-height: 95vh;
}

/* from https://github.com/caged/d3-tip/blob/master/examples/example-styles.css */
.d3-tip {
    font-size: 12px;
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 10px;
    pointer-events: none;
    text-align: left;
}

.county {
    stroke: grey;
    stroke-opacity: 0.1;
}

.swatch {
    stroke: black;
}

.legendCells text {
    font-size: 10px;
}
